body {
  border: rgb(62, 62, 62);
  border-style: solid;
}
.expenseTypeRow {
  padding-top: 0%;
  padding-bottom: 0%;
  margin-bottom: 1%;
  margin-top: 0%;
  background-color: rgb(175, 228, 230);
  border-radius: 12px;
  border-collapse: rgb(126, 79, 52);
  border-style: solid;
  font-size: 150%;
}

.edit_icon {
  padding-right: 10px;
}
.planned {
  color: rgb(78, 4, 99);
  padding-left: 20px;
  padding-right: 20px;
}
.actual {
  color: rgb(109, 84, 3);
  padding-right: 20px;
}
.diff {
  color: rgb(25, 88, 25);
  padding-right: 20px;
}

.expenseItem {
  color: rgb(219, 77, 77);
}
.description {
  padding-left: 50px;
  padding-right: 15px;
}
.amount {
  padding-left: 15px;
  padding-right: 15px;
}
.addItem {
  border: rgb(62, 62, 62);
  border-style: ridge;
  padding: 50px;
}
.addType {
  border: rgb(62, 62, 62);
  border-style: double;
}
.table-header {
  padding-top: 0%;
  padding-bottom: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
}
.expense-title {
  font-size: 300%;
}
.header-cont {
  padding-left: 0%;
  margin-left: 0%;
  margin-right: 0%;
}
.col-name {
  font-size: 210%;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 3%;
  padding-top: 0%;
  padding-bottom: 0%;
}
.header-bottom {
  font-size: 130%;
  font-style: bold;
  padding-bottom: 0%;
  padding-top: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
}
